; begin auth token 
//pkgs.dev.azure.com/arturtagisow/proof_of_concept_private_npm_repo_eurzad/_packaging/private_npm_repo_proof_of_concept/npm/registry/:username=arturtagisow 
//pkgs.dev.azure.com/arturtagisow/proof_of_concept_private_npm_repo_eurzad/_packaging/private_npm_repo_proof_of_concept/npm/registry/:_password=ZTRueXF2czRsc3dyajcyajN5cWNsdWhtN3A1Z2lpczN0cGNuY2tzaWxkZ3B1ejZ4NTZzcQ==
//pkgs.dev.azure.com/arturtagisow/proof_of_concept_private_npm_repo_eurzad/_packaging/private_npm_repo_proof_of_concept/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/arturtagisow/proof_of_concept_private_npm_repo_eurzad/_packaging/private_npm_repo_proof_of_concept/npm/:username=arturtagisow 
//pkgs.dev.azure.com/arturtagisow/proof_of_concept_private_npm_repo_eurzad/_packaging/private_npm_repo_proof_of_concept/npm/:_password=ZTRueXF2czRsc3dyajcyajN5cWNsdWhtN3A1Z2lpczN0cGNuY2tzaWxkZ3B1ejZ4NTZzcQ==
//pkgs.dev.azure.com/arturtagisow/proof_of_concept_private_npm_repo_eurzad/_packaging/private_npm_repo_proof_of_concept/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
